/* Styling for page switcher as used in FAQ */
ul.wpb_page_list {
  list-style: none;
  list-style-type: none;
}

.wpb_page_list li.current_page_item {
  font-weight: bold;
}

.wpb_page_list li.current_page_item::before {
  content: "» ";
}

/* Hide WooCommerce card if empty */
.wc_cart_is_empty .header-cart-link-wrap {
  display: none;
}

/* Price tables  */
.elementor-widget-price-table .elementor-widget-container {
	background-color: transparent !important;
}

.elementor-heading-title,
.elementor-price-table .elementor-price-table__features-list li,
.elementor-slides .swiper-slide-inner .elementor-slide-heading {
	line-height: 1.3 !important;
}

/* Improved styling for tribe */
.tribe-events-widget .tribe-events-widget-events-list__event-row--featured .tribe-events-widget-events-list__event-date-tag-datetime:after, .tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn {
	background-color: #77BE1F !important;
}

.tribe-events-widget .tribe-events-widget-events-list__view-more-link {
	color: #77BE1F !important;
	text-transform: none !important;
}

.tribe-events-widget .tribe-events-widget-events-list__view-more-link:hover {
    border-bottom-color: #77BE1F !important;
}

h3.tribe-common-h6 {
	font-size: 20px !important;
	font-weight: 500 !important;
}

.tribe-common .tribe-common-c-svgicon {
	color: #77be1f !important;
}

.tribe-events-widget {
	margin-bottom: 0 !important;
}

/* Hide breadcrumbs on homepage */
.home #breadcrumbs, .home .bread {
  display: none;
}

/* Bread breadcrumbs */
.bread {
  list-style-type: none;
	max-width: 1200px;
	margin: auto;
	padding: 10px;
	font-size: 14px;
}

.bread li {
  display:inline-block;
}

.bread li.crumb:last-child a {
  text-decoration: none;
  pointer-events: none;
  color: inherit;
}

/* Prevent part of comments secion being overlapped by content above it */
.sticky-header #comments:before {
	margin-top: 0 !important;
	height: 0 !important;
}
